<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>branch</name>
                    <description>请填写分支构建</description>
                    <defaultValue></defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>%s</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>*/master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>
&#x000A;
#!/bin/bash&#x000A;
(git branch -a | grep ${branch}) || (git tag -l | grep ${branch})&#x000A;
if [ $? -eq 0 ]; then&#x000A;
  git checkout  $branch &amp;&amp; echo &quot;#Sucess: source codes had checkout to ${branch} branch&quot; || { echo &quot;#Error: source codes failed to checkout to ${branch} branch&quot;; exit ; }&#x000A;
else&#x000A;
  echo &quot;#Error: source codes ${branch} branch does not exist！&quot;; exit ;&#x000A;
fi&#x000A;
a=`git log|grep 'commit'|head -1`&#x000A;
b=`echo ${a##*commit}`&#x000A;
slug=%s&#x000A;
binIp=%s&#x000A;
name=$slug-$b&#x000A;
echo "versionStart="$b"=versionEnd"&#x000A;
echo "jarNameStart="$name"=jarNameEnd"&#x000A;
%s&#x000A;
default=`ls package*`&#x000A;
mv package* `echo $name`echo ${a##package}``&#x000A;
tar -zcvf $name.tar.gz $name*&#x000A;
ansible $binIp -u root -m shell -a "if [ ! -d "/opt/app/$slug" ];then mkdir -p /opt/app/$slug;fi"&#x000A;
rsync -v $name.tar.gz root@$binIp:/opt/app/$slug/&#x000A;
            </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>