<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.kissnest.mapper.GroupMemberMapper">

    <insert id="createGroupMember" parameterType="com.kiss.kissnest.entity.GroupMember">
        insert into groupsmembers (groupId,accountId,operatorId,operatorName)
        value
        (#{groupId},#{accountId},#{operatorId},#{operatorName})
    </insert>
    
    <delete id="deleteGroupMemberById" parameterType="com.kiss.kissnest.entity.GroupMember">
        delete from groupsmembers where id = #{id}
    </delete>

    <select id="getGroupMembersByGroupId" parameterType="java.lang.Integer" resultType="com.kiss.kissnest.entity.GroupMember">
        select * from groupsmembers where groupId = #{groupId};
    </select>
</mapper>