<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.kissnest.mapper.JobMapper">

    <insert id="createJob" parameterType="com.kiss.kissnest.entity.Job">
        insert into jobs (teamId,projectId,jobName,script,type,envId,serverIds,status,number)
        value
        (#{teamId},#{projectId},#{jobName},#{script},#{type},#{envId},#{serverIds},#{status},#{number})
    </insert>

    <select id="getJobByProjectId" parameterType="java.lang.Integer" resultType="com.kiss.kissnest.entity.Job">
        select * from jobs where projectId = #{projectId};
    </select>

    <select id="getJobByProjectIdAndType" parameterType="java.util.Map" resultType="com.kiss.kissnest.entity.Job">
        select * from jobs where projectId = #{projectId} and type = #{type} limit 0,1;
    </select>
    
    <update id="updateJobStatus" parameterType="java.util.Map">
        update jobs
        set
        status = #{newStatus}
        where projectId = #{projectId} and type = #{type} and status = #{status}
    </update>

    <update id="updateJobStatusAndNumber" parameterType="java.util.Map">
        update jobs
        set
        status = #{newStatus},
        number = #{number}
        where projectId = #{projectId} and type = #{type} and status = #{status}
    </update>
    
    <select id="getJobsByTeamId" parameterType="java.util.Map" resultType="com.kiss.kissnest.entity.Job">
        select * from jobs where teamId = #{teamId} and type = #{type};
    </select>

    <update id="updateJob" parameterType="com.kiss.kissnest.entity.Job">
        update jobs set
        teamId = #{teamId},
        projectId = #{projectId},
        script = #{script},
        type = #{type}
        where id = #{id}
    </update>

    <select id="getJobById" parameterType="java.lang.Integer" resultType="com.kiss.kissnest.entity.Job">
        select * from jobs where id = #{id};
    </select>
</mapper>