<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.kissnest.mapper.MemberTeamMapper">

    <insert id="createMemberTeam" parameterType="com.kiss.kissnest.entity.MemberTeam" useGeneratedKeys="true" keyProperty="id">
        insert into memberTeams (memberId,teamId,role,operatorId,operatorName)
        value
          (#{memberId},#{teamId},#{role},#{operatorId},#{operatorName})
    </insert>

    <insert id="createMemberTeams" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into memberTeams (memberId,teamId,role,operatorId,operatorName)
        values
        <foreach collection="list" separator="," item="m">
            (#{memberId},#{teamId},#{role},#{operatorId},#{operatorName})
        </foreach>
    </insert>

    <select id="getMemberTeams" parameterType="java.lang.Integer" resultType="com.kiss.kissnest.entity.Team">
        select te.* from memberTeams mt
        left join members me
        on mt.memberId = me.id
        left join teams te
        on mt.teamId = te.id
        where me.accountId = #{accountId};
    </select>
    
    <select id="getMemberTeam" parameterType="java.util.Map" resultType="com.kiss.kissnest.entity.MemberTeam">
        select * from memberTeams where teamId = #{teamId} and memberId = #{memberId};
    </select>
</mapper>