<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.kissnest.mapper.PackageRepositoryMapper">
    <insert id="createPackageRepository" parameterType="com.kiss.kissnest.entity.PackageRepository" useGeneratedKeys="true" keyProperty="id">
        insert into packagerepository (projectId,buildLogId,jarName,tarName,version,branch,tag,type,buildAt)
        value
        (#{projectId},#{buildLogId},#{jarName},#{tarName},#{version},#{branch},#{tag},#{type},#{buildAt})
    </insert>

    <update id="updatePackageRepository" parameterType="com.kiss.kissnest.entity.PackageRepository">
        update packagerepository
        set
        buildLogId = #{buildLogId},
        jarName = #{jarName},
        tarName = #{tarName},
        version = #{version},
        buildAt = #{buildAt}
        where id = #{id}
    </update>

    <select id="getPackageRepository" parameterType="com.kiss.kissnest.entity.PackageRepository" resultType="com.kiss.kissnest.entity.PackageRepository">
        select * from packagerepository
        where projectId = #{projectId}
        <if test="branch != null">
            and branch = #{branch}
        </if>
        <if test="tag != null">
            and tag = #{tag}
        </if>
    </select>
    
    <select id="getPackageRepositoryBranches" parameterType="com.kiss.kissnest.entity.PackageRepository" resultType="java.lang.String">
        select branch from packagerepository where projectId = #{projectId} and type = #{type} where branch is not null;
    </select>

    <select id="getPackageRepositoryTags" parameterType="com.kiss.kissnest.entity.PackageRepository" resultType="java.lang.String">
        select tag from packagerepository where projectId = #{projectId} and type = #{type} where tag is not null;
    </select>
</mapper>