<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义一个映射配置文件的根节点 -->
<!-- namespace 属性用来定义配置命名空间， 主要进行 session 级别的缓存管理 -->
<!-- namespace 默认使用当前操作实体类的全路径 -->
<mapper namespace="com.kiss.kissnest.mapper.ServerMapper">

    <insert id="createServer" parameterType="com.kiss.kissnest.entity.Server" keyProperty="id" useGeneratedKeys="true">
        insert into servers (teamId,name,envId,innerIp,outerIp,operatorId,operatorName)
        value
        (#{teamId},#{name},#{envId},#{innerIp},#{outerIp},#{operatorId},#{operatorName})
    </insert>

    <delete id="deleteServerById" parameterType="java.lang.Integer">
        delete from servers where id = #{id}
    </delete>

    <update id="updateServer" parameterType="com.kiss.kissnest.entity.Server">
        update servers
        set
        id = #{id}
        <if test="teamId != null">
            ,teamId = #{teamId}
        </if>
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="envId != null">
            ,envId = #{envId}
        </if>
        <if test="innerIp != null">
            ,innerIp = #{innerIp}
        </if>
        <if test="outerIp != null">
            ,outerIp = #{outerIp}
        </if>
        <if test="parameters != null">
            ,parameters = #{parameters}
        </if>
        <if test="runTime != null">
            ,runTime = #{runTime}
        </if>
        <if test="operatorId != null">
            ,operatorId = #{operatorId}
        </if>
        <if test="operatorName != null">
            ,operatorName = #{operatorName}
        </if>
        <if test="lastDeployedAt != null">
            ,lastDeployedAt = #{lastDeployedAt}
        </if>
        where id = #{id}
    </update>

    <select id="getServerById" parameterType="java.lang.Integer" resultType="com.kiss.kissnest.entity.Server">
        select * from servers where id = #{id};
    </select>

    <select id="getServers" resultType="com.kiss.kissnest.entity.Server">
        select * from servers;
    </select>
    
    <select id="getServerByNameAndTeamId" parameterType="java.util.Map" resultType="com.kiss.kissnest.entity.Server">
        select * from servers where teamId = #{teamId} and name = #{name} limit 0,1;
    </select>
    
    <select id="getServersByTeamId" parameterType="java.util.Map" resultType="com.kiss.kissnest.entity.Server">
        select * from servers where teamId = #{teamId}
        <if test="envId != null">
            and envId = #{envId}
        </if>
        <if test="start != null">
            limit #{start},#{size}
        </if>
    </select>
    
    <select id="getServerInnerIpsByIds" parameterType="java.lang.String" resultType="java.lang.String">
        select innerIp from servers where id in (#{ids});
    </select>
    
    <select id="getServerOutputsByTeamId" parameterType="java.util.Map" resultType="com.kiss.kissnest.output.ServerOutput">
        select se.*,en.name as envName from servers se
        left join environments en
        on se.envId = en.id
        where se.teamId = #{teamId}
        <if test="envId != null">
            and se.envId = #{envId}
        </if>
        <if test="start != null">
            limit #{start},#{size}
        </if>
    </select>
    
    <select id="getServerOutputCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from servers where teamId = #{teamId}
        <if test="envId != null">
            and envId = #{envId}
        </if>
    </select>
    
    <select id="getServersByEnvId" parameterType="java.lang.Integer" resultType="com.kiss.kissnest.entity.Server">
        select * from servers where envId = #{envId};
    </select>
</mapper>